* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        sans-serif;
}

body {
    min-height: 100vh;
    /* background: #e5f0ff; */
    background-image: url(https://plus.unsplash.com/premium_photo-1673240367277-e1d394465b56?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.app {
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 520px;
    background: rgba(255, 255, 255, 0.15); /* Glass effect */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    color: white;
    transition: height 0.3s ease;
}

h1 {
    font-size: 30px;
    color: #0f172a;
    font-family:sans-serif;
}

.subtitle {
    font-size: 13px;
    color: #6b7280;
    margin-top: 4px;
}

.search-row {
    margin-top: 18px;
    display: flex;
    gap: 8px;
}

.search-row input {
    flex: 1;
    padding: 9px 10px;
    border-radius: 40px;
    border: 1px solid black;
    /* border: 1px solid #cbd5f5; */
    background: rgba(255, 255, 255, 0.15); /* Glass effect */
    font-size: 14px;
    outline: none;
}

.search-row input:focus {
    border-color: #2563eb;
}

.search-row button {
    padding: 9px 14px;
    border-radius: 40px;
    border: none;
    background: #2563eb;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.search-row button:hover {
    background: #1d4ed8;
}

.error {
    margin-top: 8px;
    font-size: 13px;
    min-height: 18px;
    color: #b91c1c;
}

.card {
    margin-top: 18px;
    border-radius: 10px;
    /* border: 1px solid #e5e7eb; */
    padding: 14px 12px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.057); /* Glass effect */
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    /* background: #f9fafb; */
}

.placeholder {
    font-size: 13px;
    color: #6b7280;
}

/* weather info styling */

.card h2 {
    font-size: 20px;
    color: #0f172a;
    margin-bottom: 4px;
}

.card p {
    font-size: 14px;
    color: #111827;
    margin-bottom: 2px;
}